
#menu__section {
    position: absolute;
    z-index: 10;
}

.icon {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
}

.hamburger {
    content: ' ';
    position: relative;
    width: 20px;
    border: 2px solid #392338;
    border-radius: 5px;
    transition: all 0.333333333333333s ease;
}

.hamburger:after,
.hamburger:before {
    content: ' ';
    position: absolute;
    left: 50%;
    width: 100%;
    border: 2px solid #392338;
    border-radius: 5px;
    transform: translateX(-50%);
    transition-property: top, bottom, transform;
    transition-duration: 1s, 1s, 0.25s;
}

.hamburger:after {
    top: -8px;
}

.hamburger:before {
    bottom: -8px;
}

.menu {
    pointer-events: none;
}

.menu--circle {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 13;
    width: 243.33333333333334px;
    height: 243.33333333333334px;
    overflow: hidden;
}

.menu__active {
    position: relative;
}

.menu__toggle {
    z-index: 11;
    position: absolute;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 1.3s;
    cursor: pointer;
    pointer-events: auto;
}

.menu__listings {
    z-index: 10;
    position: absolute;
    top: -200px;
    left: -200px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transform: scale(0.1) rotate(150deg);
    transition: transform 1s;
}

input[type="radio" i] {
    visibility: hidden;
    display: none;
}

.menu__arrow {
    display: none;
    position: absolute;
}

.menu__arrow input[type="radio"] {
    position: fixed;
    top: -99999px;
    left: -99999px;
}

.menu__arrow ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__arrow--top {
    top: -10px;
    left: 200px;
}

.menu__arrow--bottom {
    top: 12em;
    left: 10px;
    transform: rotate(-135deg);
}

.menu__arrow--top .arrow {
    transform: rotate(-45deg);
}

.menu__arrow--left {
    top: 220px;
    left: 0.5em;
}

.menu__arrow--left .arrow {
    transform: rotate(-135deg);
}

.arrow {
    width: 20px;
    height: 20px;
    border-right: 6.666666666666667px solid #fff;
    border-top: 6.666666666666667px solid #fff;
    border-radius: 3px;
    transition: border-color 0.3s;
    cursor: pointer;
    pointer-events: auto;
}

.arrow:hover {
    border-color: #ff947f;
    transition: border-color 0.3s;
}

.circle {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(108deg);
    overflow: hidden;
    list-style: none;
}

.circle li {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0 100%;
}

.circle li .placeholder {
    position: absolute;
    left: -100%;
    padding-top: 1.5em;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(54deg) rotate(18deg);
}

.circle li .placeholder .upside {
    transform: rotate(180deg);
}

.circle li .placeholder a {
    text-decoration: none;
    pointer-events: auto;
}

.circle li .placeholder button {
    pointer-events: auto;
}

.circle li .placeholder .button {
    font-size: 2.3em;
    background-color: transparent;
    border: none;
    color: #392338;
    cursor: pointer;
}

.circle li:nth-child(1) {
    transform: rotate(0deg) skewY(-54deg);
    background-color: #fff;
}

.circle li:nth-child(2) {
    transform: rotate(36deg) skewY(-54deg);
    background-color: #fff;
}

.img_child2 {
    margin-left: 35px;
    transform: rotate(7deg);
}


.circle li:nth-child(3) {
    transform: rotate(72deg) skewY(-54deg);
    background-color: #fff;
}

.circle li:nth-child(4) {
    transform: rotate(108deg) skewY(-54deg);
    background-color: #fff;
}

.img_child4 {
    transform: rotate(81deg);
}

.img_child4:hover {
    zoom: 70%;
}

.circle li:nth-child(5) {
    transform: rotate(144deg) skewY(-54deg);
    background-color: #fff;
}

.circle li:nth-child(6) {
    transform: rotate(180deg) skewY(-54deg);
    background-color: #fff;
}

.img_child6 {
    filter: hue-rotate(280deg);
    margin-left: 35px;
    transform: rotate(7deg);
}

.img_child6:hover {
    zoom: 70%;
}

.circle li:nth-child(7) {
    transform: rotate(216deg) skewY(-54deg);
    background-color: #fff;
}

.img_child7 {
    transform: rotate(81deg);
}

.img_child7:hover {
    zoom: 70%;
}

.circle li:nth-child(8) {
    transform: rotate(252deg) skewY(-54deg);
    background-color: #fff;
}

.circle li:nth-child(9) {
    transform: rotate(288deg) skewY(-54deg);
    background-color: #fff;
}

.img_child9 {
    transform: rotate(189deg);
    margin-left: 35px;
}

.img_child9:hover {
    zoom: 70%;
}

.circle li:nth-child(10) {
    transform: rotate(324deg) skewY(-54deg);
    background-color: #fff;
}

.img_child10 {
    transform: rotate(80deg);
}


#menu__active {
    position: fixed;
    top: -99999px;
    left: -99999px;
}

#menu__active:checked ~ label .menu__listings {
    transition: transform 1s;
}

#menu__active:checked ~ label .menu__toggle {
    background-color: #392338;
    transition: all 1s;
}

#menu__active:checked ~ label .hamburger {
    border-color: transparent;
    transition: border-color 0.333333333333333s;
}

#menu__active:checked ~ label .hamburger:after {
    top: -2px;
    border-color: #fff;
    transform: translateX(-50%) rotate(45deg);
    transition-property: top, transform;
    transition-duration: 0.25s, 1s;
}

#menu__active:checked ~ label .hamburger:before {
    bottom: -2px;
    border-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
    transition-property: bottom, transform;
    transition-duration: 0.25s, 1s;
}

#menu__active:checked ~ label .button:hover {
    color: #c1264e;
}

#menu__active:checked ~ label .menu__arrow {
    transition: all 1s 1.111111111111111s;
}


/*  Splitting Js    */

.headline {
    perspective: 1000px;
    scroll-snap-align: start;
}

.headline:nth-child(1) {
    --color: #f9ca24;
}

.headline:nth-child(2) {
    --color: #3498db;
}

.headline:nth-child(3) {
    --color: #ff7979;
}

.headline:nth-child(4) {
    --color: #1abc9c;
}

.headline:nth-child(5) {
    --color: #e74c3c;
}

.headline:nth-child(6) {
    --color: #f8c291;
}

.word,
.char {
    -webkit-animation-delay: var(--del);
    animation-delay: var(--del);
    -webkit-animation-direction: var(--dir, normal);
    animation-direction: var(--dir, normal);
    -webkit-animation-duration: var(--dur);
    animation-duration: var(--dur);
    -webkit-animation-iteration-count: var(--it, infinite);
    animation-iteration-count: var(--it, infinite);
    -webkit-animation-name: var(--name);
    animation-name: var(--name);
    -webkit-animation-timing-function: var(--tf);
    animation-timing-function: var(--tf);
    -webkit-animation-fill-mode: var(--fill, forwards);
    animation-fill-mode: var(--fill, forwards);
    display: inline-block;
    position: relative;
    transform-origin: 50% 100%;
    z-index: 1;
}

.headline--flip .char {
    --name: flip;
    --dur: 4000ms;
    --del: calc(var(--char-index) * 0.075s);
    --tf: linear;
}

@-webkit-keyframes flip {
    5% {
        transform: rotateX(1turn);
    }
    10% {
        transform: rotateX(2turn);
    }
    20% {
        transform: rotateX(3turn);
    }
    40% {
        transform: rotateX(4turn);
    }
    70%, 100% {
        transform: rotateX(5turn);
    }
}

@keyframes flip {
    5% {
        transform: rotateX(1turn);
    }
    10% {
        transform: rotateX(2turn);
    }
    20% {
        transform: rotateX(3turn);
    }
    40% {
        transform: rotateX(4turn);
    }
    70%, 100% {
        transform: rotateX(5turn);
    }
}


.headline--rock .char {
    --name: rock;
    --dur: 2s;
    --td: ease-in-out;
    transform-origin: 0 100%;
}

@-webkit-keyframes rock {
    0%, 100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(-18deg);
    }
}

@keyframes rock {
    0%, 100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(-18deg);
    }
}